@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Oops!</h1>
    <h2 class="error">Looks like no videos matched your search</h2>
</hgroup>

