@model IEnumerable<AzureMediaPortal.Models.MediaElement>
@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<h2>About this project</h2>
    <h3>The Idea</h3>
        <p>The chosen project is a video delivery service, which acts as an aid to trained professionals and people who can learn from them. 
           This website demonstrates exercise videos which can be played pack by both members and non-members.</p>
        <p>Personal Trainers and Fitness Instructors can use this service to deliver instructional videos to their clients.
           In future developments, clients will be able to request specific videos and micro payments will be implemented so the Trainers 
           and Instructors can be paid for their professional advice. Comments can be made under each video, if a user has questions they can
           be asked and answered here.</p>
        <p>Anyone can register an account for the site by using the account registration form or with a FaceBook account. Qulifications 
           and references will be checked when micro payments become active.</p>
   


